@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
   
    
}
.gallery{
    background:#ea8685;
}


.canvas_head{
    background: #6D214F;
}